<link rel="stylesheet" href="css/global.css">

<div class="skill-item glass">
    <p class="skill-text text-center">OOP</p>
</div>

<style>
    .skill-item {
        background-color: rgba(0, 75, 10, 0.5);

        height: 35px;
        width: 200px;

        border-radius: 25px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .skill-text {
        font-size: 15px;
        color: rgb(255, 255, 255);
    }

    @media (max-width: 550px) {
        .skill-item {
            width: 150px;
        }

        .skill-text {
            font-size: 12px;
        }
    }
</style>