<link rel="stylesheet" href="{baseUrl}css/global.css">

<div class="project-item">
    <div class="project-icon-container ">
        <img class="project-icon" src="img/projects/DHMMT.jpg" alt="">
    </div>
    <div class="project-info-container">
        <div class="project-name-container glass">
            <h3 class="project-name">Don't Hate My Music Taste</h3>
        </div>
        <div class="project-links-container glass">

        </div>
    </div>
</div>

<style>
    .project-item {
        width: 300px;
        height: 300px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .project-icon-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .project-icon {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        background-color: var(--color-primary);
    }

    .project-info-container {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .project-name-container {
        width: 95%;
        height: 50px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .project-name {
        padding: 5px;
        font-size: 1.5;
        color: var(--color-secondary);
    }

    .project-links-container {
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 15px;
        width: 95%;
        height: 50px;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.5);
    }

    .project-link {
        width: 45px;
        height: 45px;
        border-radius: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .project-link-icon {
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>